name: Build Theos Deb

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git make clang perl python3 \
            dpkg-dev fakeroot xz-utils \
            libtapi-dev

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Add iPhoneOS SDK (from repo file)
        run: |
          mkdir -p "$THEOS/sdks"
          tar -xJf iPhoneOS16.5.sdk.tar.xz -C "$THEOS/sdks"

      - name: Build deb
        run: |
          export THEOS="$THEOS"
          make clean
          make package FINALPACKAGE=1

      - name: Upload deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: deb-packages
          path: packages/*.deb
