name: Build deb

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git make clang perl rsync unzip zip \
            dpkg-dev fakeroot ldid

      - name: Setup Theos
        run: |
          git clone --recursive https://github.com/theos/theos.git $HOME/theos
          echo "THEOS=$HOME/theos" >> $GITHUB_ENV

      - name: Build deb
        run: |
          export THEOS=$HOME/theos
          make package FINALPACKAGE=1

      - name: Upload deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: deb
          path: packages/*.deb
